__pycache__/
*.pyc
.pytest_cache/
.venv/
node_modules/
dist/
**/.gradle/
**/build/
*.db
.env
data/
ml/artifacts/*.pkl
!ml/artifacts/.gitkeep
/mosdac_data_downloads/config.json
mosdac_downloader/config.json
**/mosdac_data_downloads_config.json
**/mosdac_data_donloads_config.json
